ip dhcp relay all-subnets default
!
transceiver qsfp default-mode 4x10G
!
candidate Loopback0 {{ loopback }} priority {{ priority }} hashmask 30 interval 60
!
hostname {{ hostname }}
ip host one {{ iptoapply }}
!
no aaa root
!
spanning-tree mode mstp
!
interface Ethernet1
!
interface Ethernet2
!
interface Ethernet3
!
interface Ethernet4
!
interface Ethernet5
!
interface Ethernet6
!
no ip routing
!
!
end
